<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Stephanie Lamm</title>

        <link rel="stylesheet" href="css/style.css">
        <link href="css/bootstrap.min.css" rel="stylesheet">


  </head>
<body>
    <header>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <nav>
            <ul>
              <li class="nav-item home">HOME</li>
              <li class="nav-item portfolio">PORTFOLIO</li>
              <li class="nav-item about">ABOUT</li>
              <li class="nav-item contact">CONTACT</li>
              <li class="nav-item resume">RESUME</li>
            </ul>
        </nav>
      </div>
    </div>
  </div>
    </header>

    <div class="home-expand">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>THIS IS THE HOME TEXT</p> </div>
          </div>
        </div>
    </div>

    <div class="portfolio-expand">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>See writing samples HERE</p> </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p>See video samples HERE</p> </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p>See web samples HERE</p> </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <p>See photography samples HERE</p> </div>
                </div>
        </div>
      <!--<div id="portfolio-list" class="text"></div>-->
    </div>

    <div class="about-expand">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>I am a multimedia journalist.</p> </div>
          </div>
        </div>
    </div>

    <div class="contact-expand">
      <a class="contact-url" href="https://twitter.com/iamslamm" target="_blank"><p class="text">IAmSlamm</p></a>
      <a class="contact-url" href="http://www.github.com/stephanielamm" target="_blank"><p class="text"> Stephanie Lamm</p></a>
      <p class="text"><a class="contact-url" href="mailto:stephanielamm5@gmail.com" target="_top">stephanielamm5@gmail.com</a></p>
    </div>

    <div class="resume-expand">
      <a href="img//////.pdf" target="_blank"><img class="resume-img" src="//"></a>
    </div>

<!--
    <script class="template-clips">
    <% if(clip.display != 'n'){%>
        <div class="clip-item">
          <a class="clip-url" href="<%= clip.url %>" target="_blank"><p class="clip-title"><strong><%= clip.title %></strong></p></a>
            <p class="clip-organization"><%= clip.organization %></p>
            <p class="clip-summary"><%= clip.summary %></p>
            <hr />
        </div>
    <% } %>
    </script>
-->



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/style.js"></script>
        <script type="text/javascript" src="js/tabletop.js"></script>
    <!--<script type="text/javascript" src="js/underscore-min.js"></script>-->
</body>
</html>
